* {
    color: red;
}

div {
    color: black;
}

.selector {
    color: blue;
}

#idSelector {
    color: brown;
}

.parent .child {
    color: orange;
}

.selector.combine {
    color: violet;
}

a {
    color: pink;
}

[href="www.gvozdaryov.com"] {
    display: block;
    color: lime;
}

.link {
    display: block;
    color: yellow;
}

.link.gvozdaryov {
    color: aqua;
}